@model eVisa.Models.Users
@{
    ViewBag.Title = "Sign Up";
}

<div class="content">
    <div class="container" data-ng-controller="singup_ctrl">
        <br />
        <h1>
            FREQUENT E-VISA USER REGISTRATION
        </h1>

        <form name="applyForm" data-ng-submit="save();">
            <label>User ID <span class="require">*</span></label>
            <input type="text" 
                   class="form-control" 
                   ng-model="userId" 
                   required="required" 
                   name="UserId"
                   id="UserId" 
                   ng-trim="false" 
                   ng-pattern="userFormat" />
            <div class="message" ng-show="applyForm.UserId.$error.pattern">
                Invalid UserId please do not use space or sign.
            </div>

            <label>Password <span class="require">*</span></label>
            <input 
                   type="password" 
                   class="form-control" 
                   ng-model="password" 
                   id="password" 
                   name="password" 
                   required="required">
            <div></div>
            
            <label>Confirm Password <span class="require">*</span></label>
            <input 
                   type="password" 
                   class="form-control" 
                   ng-model="confirmPassword" 
                   pw-check="password" 
                   name="passwordConfirm" 
                   ng-pattern="/^[\w -]*$/" 
                   required="required" />
            <div class="message" ng-show="applyForm.passwordConfirm.$error.pwmatch">
                Passwords not match.
            </div>
            
            <button class="btn btn-submit" data-ng-disabled="process" type="submit">
                <i class="fa fa-refresh fa-spin"
                   data-ng-show="process">
                </i>
                Submit
            </button>
        </form>
        <br />
        <br />
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="/App/singup/singup_ctrl.js"></script>
}