@{
    ViewBag.Title = "User Profile";
}
<div class="content">
    <div class="container">
        <br />
        <div data-ui-view=""></div>
    </div>
    <br />
</div>

@section scripts{

<script type="text/javascript" src="/App/core/restful/restful.js"></script>
<script type="text/javascript" src="/App/user/config/route.js"></script>
<script type="text/javascript" src="/App/core/services/services.js"></script>
<script type="text/javascript" src="/App/user/controller/index_ctrl.js"></script>
<script type="text/javascript" src="/App/user/controller/user_profile_ctrl.js"></script>
<script type="text/javascript" src="/App/user/controller/user_change_ctrl.js"></script>
<script type="text/javascript" src="/App/user/controller/user_history_ctrl.js"></script>

}