<div data-ng-init="getCountry();">
    <h1>
        1. Applicant Profiles
    </h1>
        <div class="row">
            <div class="col-md-6">
                <label>Surname <span class="require">*</span></label>
                <input type="text" data-ng-model="Contact.SurName" class="form-control" name="Surname" required>
                <div>
                </div>

                <label>Given Name <span class="require">*</span></label>
                <input type="text" data-ng-model="Contact.GivenName" class="form-control" required name="GivenName">
                <div>
                </div>

                <label>Sex: <span class="require">*</span></label>
                <select class="form-control" required data-ng-model="Contact.Sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Date of Birth <span class="require">*</span></label>
                <table style="width:260px;">
                    <tr>
                        <td>
                            <select ng-model="day" class="form-control" style="width:75px;" required ng-options="n for n in [] | rangeNumber:31">
                                <option value="">Day</option>
                            </select>
                        </td>
                        <td>
                            <select ng-model="month"
                                    class="form-control"
                                    style="width:85px;"
                                    required
                                    ng-options="m.id as m.name for m in monthNames"
                                    ng-init="month === m.id">
                                <option value="">Month</option>
                            </select>
                        </td>
                        <td>
                            <select ng-model="year" class="form-control" style="width:75px;" required ng-options="n for n in [] | rangeYear:1920">
                                <option value="">Year</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <label>Country/Region of Birth <span class="require">*</span></label>
                <select class="form-control"
                        data-ng-model="Contact.CountryOfBirth"
                        required
                        data-ng-options="country.name as country.name for country in countries">
                    <option value="">--Select--</option>
                </select>
                <label>Country of Nationality <span class="require">*</span></label>
                <select class="form-control"
                        required
                        data-ng-model="Contact.Nationality"
                        data-ng-options="country.name as country.name for country in countries">
                    <option value="">--Select--</option>
                </select>

                <label>Residential Address</label>
                <input ng-model="Contact.ResidentialAddress" class="form-control" type="text">

            </div>
        </div>
    <div class="row">
    <div class="col-md-6">
        <h1>
            2. Passport Information
        </h1>
        <label>Upload your photo <span class="require">*</span></label>
        <input class="form-control" type="file" id="upload_image" accept="image/*"/>
        <img data-ng-show="Contact.Photo" src="{{Contact.Photo}}" class="img-responsive" />
        <img src="https://placeholdit.imgix.net/~text?txtsize=85&txt=No%20Image&w=316&h=240" data-ng-show="!Contact.Photo" class="img-responsive"/>
        <div id="message">
            <span class="message"></span>
        </div>


        <label>Passport Number <span class="require">*</span></label>
        <input ng-model="Contact.PassportNo" type="text" class="form-control" required name="PassportNo">
        <div>
        </div>

        <label>Issuing Date <span class="require">*</span></label>
        <table style="width:260px;">
            <tr>
                <td>
                    <select required ng-model="day_issue" class="form-control" style="width:75px;" ng-options="n for n in [] | rangeNumber:31">
                        <option value="">Day</option>
                    </select>
                </td>
                <td>
                    <select ng-model="month_issue" 
                            class="form-control" 
                            style="width:85px;" 
                            required
                            ng-options="m.id as m.name for m in monthNames"
                            ng-init="month === m.id">
                        <option value="">Month</option>
                    </select>
                </td>
                <td>
                    <select ng-model="year_issue" class="form-control" style="width:75px;" required ng-options="n for n in [] | rangeYear:1920">
                        <option value="">Year</option>
                    </select>
                </td>
            </tr>
        </table>
        <label>Expiry Date <span class="require">*</span></label>
        <table style="width:260px;">
            <tr>
                <td>
                    <select ng-model="day_expiry" class="form-control" style="width:75px;" required ng-options="n for n in [] | rangeNumber:31">
                        <option value="">Day</option>
                    </select>
                </td>
                <td>
                    <select ng-model="month_expiry" 
                            class="form-control" 
                            style="width:85px;" 
                            required 
                            ng-options="m.id as m.name for m in monthNames"
                            ng-init="month === m.id">
                        <option value="">Month</option>
                    </select>
                </td>
                <td>
                    <select ng-model="year_expiry" class="form-control" style="width:75px;" ng-options="n for n in [] | rangeYearFuture:30">
                        <option value="">Year</option>
                    </select>
                </td>
            </tr>
        </table>
        <label>Country of Issue <span class="require">*</span></label>
        <select class="form-control"
                data-ng-model="Contact.PassportCountry"
                data-ng-options="country.name as country.name for country in countries">
            <option>--Select--</option>
        </select>
    </div>
    <div class="col-md-6">
        <h1>
            3. Entry Date to Cambodia
        </h1>
        <label>Entry Date <span class="require">*</span></label>
        <table style="width:260px;">
            <tr>
                <td>
                    <select ng-model="day_entry" class="form-control" style="width:75px;" required ng-options="n for n in [] | rangeNumber:31">
                        <option value="">Day</option>
                    </select>
                </td>
                <td>
                    <select ng-model="month_entry" 
                            class="form-control" 
                            style="width:85px;" 
                            required 
                            ng-options="m.id as m.name for m in monthNames"
                            ng-init="month === m.id">
                        <option value="">Month</option>
                    </select>
                </td>
                <td>
                    <select ng-model="year_entry" class="form-control" style="width:75px;" required ng-options="n for n in [] | rangeYearFuture:4">
                        <option value="">Year</option>
                    </select>
                </td>
            </tr>
        </table>
        <label>Port of Entry <span class="require">*</span></label>
        <select class="form-control"
                required
                data-ng-model="Contact.PointOfEntry"
                ng-options="option as option for option in ['Bavet (Svay Rieng)', 'Cham Yeam (Koh Kong)', 'Poi Pet (Banteay Meanchey)', 'Phnom Penh International Airport', 'Siem Reap International Airport']">
            <option value="">--Select--</option>
        </select>
        <label>Visa type which you wish to apply for</label>
        <select class="form-control" data-ng-model="Contact.Type">
            <option value="Tourist (T)">Tourist (T)</option>
        </select>


    </div>
        <div class="col-md-6">
            <h1>
                4. Travel Information (Optional)
            </h1>
            <br />
            <label>Mod of Travelling</label>
            <select class="form-control" required
                    data-ng-model="Contact.TravelMode"
                    ng-options="option as option for option in ['Bus', 'Car', 'Flight', 'Motocycle', 'Walk']">
                <option value="">--Select--</option>
            </select>

            <label>Arrival Vehicle No</label>
            <input ng-model="Contact.ArrivalVehicleNo" class="form-control" name="ArrivalVehicleNo" required>
            <div>
            </div>

            <label>Arrival Time</label>
            <select 
                class="form-control" 
                data-ng-model="Contact.ArrivalTime"
                ng-options="option as option for option in ['12:00 AM', '12:15 AM', '12:30 AM', '12:45 AM', '01:00 AM',
                '01:15 AM','01:30 AM','01:45 AM','02:00 AM','02:15 AM','02:30 AM','02:45 AM','03:00 AM','03:15 AM','03:30 AM','03:45 AM',
                '04:00 AM','04:15 AM','04:30 AM','04:45 AM','05:00 AM','05:15 AM','05:30 AM','05:45 AM','06:00 AM','06:15 AM', '06:30 AM',
                '06:45 AM','07:00 AM','07:15 AM','07:30 AM','07:45 AM','08:00 AM','08:15 AM','08:30 AM','08:45 AM','09:00 AM', '09:15 AM',
                '09:30 AM','09:45 AM','10:00 AM','10:15 AM','10:30 AM','10:45 AM','11:00 AM','11:15 AM','11:30 AM','11:45 AM', '12:00 PM',
                '12:15 PM','12:30 PM','12:45 PM','01:00 PM','01:15 PM','01:30 PM','01:45 PM','02:00 PM','02:15 PM','02:30 PM', '02:45 PM',
                '03:00 PM','03:15 PM','03:30 PM','03:45 PM','04:00 PM','04:15 PM','04:30 PM','04:45 PM','05:00 PM','05:15 PM', '05:30 PM',
                '05:45 PM','06:00 PM','06:15 PM','06:30 PM','06:45 PM','07:00 PM','07:15 PM','07:30 PM','07:45 PM','08:00 PM', '08:15 PM',
                '08:30 PM','08:45 PM','09:00 PM','09:15 PM','09:30 PM','09:45 PM','10:00 PM','10:15 PM','10:30 PM','10:45 PM', '11:00 PM',
                '11:00 PM','11:15 PM','11:30 PM','11:45 PM',
                ]">
                <option value="">--Select--</option>
            </select>

            <label>Address During Visit <span class="require">*</span></label>
            <input ng-model="Contact.VisitAddress" class="form-control" name="VisitAddress" required>
            <div>
            </div>

            <label>Organization, Persons To</label>
            <input ng-model="Contact.VisitPerson" class="form-control" name="VisitPerson">
            <div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
    
