@{
    ViewBag.Title = "CheckStatus";
}
<div class="content" data-ng-controller="check_status_ctrl">
    <div class="container">
        <br />
        <h1>
            Check Status
        </h1>
        <ul>
            <li>
                <strong>For your convenience, now you can check your application status and make changes online</strong>
                <ol>
                    <li>Check application status</li>
                    <li>Download e-Visa certificate</li>
                    <li>Change travel information</li>
                    <li>Resubmit payment if payment failed</li>
                    <li>Print receipt</li>
                </ol>
            </li>
            <li style="list-style:none">&nbsp;</li>
            <li style="font-weight:bold"> Please enter your reference number and primary email address only</li>
        </ul>
        <form name="checkStatus" data-ng-submit="check();">
            @*@using (Html.BeginForm("CheckStatus_Login", "Home", null, FormMethod.Post, new { @id = "myForm", @name = "myForm" }))
            {*@
            <label>Reference No:</label>
            @Html.TextBox("ReferenceNo", "", new { @class = "form-control", data_ng_model = "ReferenceNo", required = "required" })

            <label>Primary Email Address:</label>
            @Html.TextBox("PrimaryEmail", "", new { @class = "form-control", data_ng_model = "PrimaryEmail", required = "required", type="email" })

            <p class="message">
                <i class="fa fa-star-o"></i>
                Note: Please use primary email addresss only
            </p>
            <button type="submit" class="btn btn-default" data-ng-disabled="process">
                <i class="fa fa-check-square-o" data-ng-show="!process"></i>
                <i class="fa fa-refresh fa-spin" data-ng-show="process"></i>
                Submit
            </button>
            @* } *@
        </form>
        <br /><br />
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="/App/core/restful/restful.js"></script>
    <script type="text/javascript" src="/App/checkStatus/check_status_ctrl.js"></script>
}